[Desktop Entry]
Type=Application
Name=Remonos Welcome
Exec=/usr/local/bin/remonoswelcome.sh
Icon=dialog-information
Terminal=false
X-GNOME-Autostart-enabled=true
